<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1 class="title">Welcome to the trip tracker app</h1>
        <div class="main-menu-options">
            <form action="/trip-from" method="GET">
                <button>Make a new trip</button>
            </form>
            <form action="/trip-list" method="GET">
                <button>View current or future trips</button>
            </form>
        </div>
        <span>{{message}}</span>
        
    </body>
</html>