<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="siteHeader">
            <form class="loginButton" action="/login" method="get">
                <button>Log in</button>
            </form>
            <form class="logOutButton" action="/logout" method="post">
                <button>Log out</button>
            </form>
        </div>
        <h1 class="title">Welcome to the trip tracker app {{username}}</h1>
        <div class="main-menu-options">
            <form action="/trip-form" method="GET">
                <button>Make a new trip</button>
            </form>
            <form action="/trip-list" method="GET">
                <button>View current or future trips</button>
            </form>
            <form action="/chatroom" method="GET">
                <button>Enter Chatroom</button>
            </form>
        </div>
        <span>{{message}}</span>
        
    </body>
</html>