<html>
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
    <form class="homePageButton" action="/home-page" method="GET">
            <button>Return to Home Page</button>
        </form>
        <form class="logOutButton" action="/logout" method="post">
                <button>Log out</button>
            </form>
        <h1 class="title">Make a new trip</h1>
        <form class="newTripForm" action="/new-trip" method="POST">
            <input type="text" name="tripName" placeholder="Trip Name">
            <input type="text" name="tripImage" placeholder="Image URL">
            <div class="calendarInputs">
                <span>Departure Date</span>
                <input type="date" name="tripDeparture">
            </div>
            <div class="calendarInputs">
            <span>Return Date</span>
                <input type="date" name="tripReturn" id="">
            </div>
            
            <button name="message" value="Trip successfully made!">Submit</button>
        </form>
    </body>
</html>